/* Importando letras */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Noto+Sans&family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat";
    background-color: #eff7f6;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nav;
    background-color: #ffa8bd;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: larger;
}
nav img{
    width: 35px;
    height: 35px;
    padding-right: 1em;
}
aside {
    display: flex;
    flex-direction: column;
    grid-area: aside;
    background-color: #eff7f6;
    padding-left: 1em;
}
aside h4 {
    font-size: larger;
    padding-top: 1em;
    padding-bottom: 1em;
}
aside p {
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    font-size: large;
}
main {
    grid-area: main;
    background-color: #eff7f6;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: #ffa8bd;
    color: white;
    font-size: larger;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer i{
    padding-left: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        "nav nav"
        "aside main"
        "footer footer";
    height: 100vh;
}
.grid-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid 3px #9f6e6a;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    max-width: 21rem;
}
.card p{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 20px;
}

/* Imagenes de las cards */
.card-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
}

/* Atributos para los botones de las cards */
button {
    border: none;
    cursor: pointer;
    color: white;
    background-color: #bd7a9d;
    padding: 0.7em;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
}
button:active {
    background-color: #ffa8bd;
}
